// colors
$creamsicle: #FFA372;
$blood-orange: #ed6663;
$navy-blue: #43658b;
$periwinkle: #4e89ae;
$sky-blue: #87CEEB;
$baby-blue: #bee6ed;

// font-sizes
$huge: 30px;
$big: 26px;
$medium: 20px;
$small: 16px;
$tiny: 12px;

.app-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, $baby-blue, $creamsicle);
  font-family: Ubuntu;
}

.app-header {
  display: flex;
  justify-content: center;
  font-size: $huge;
}

.board-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  height: 80%;
}

.board-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 30%;
  height: 99%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
}

.board-column-header {
  font-size: $big;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
}

.issue-card-container {
  font-size: $medium;
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  width: 100%;
  align-self: center;
}

.issue-card {
  width: 100% !important;
}