// colors
$creamsicle: #FFA372;
$blood-orange: #ed6663;
$navy-blue: #43658b;
$periwinkle: #4e89ae;
$sky-blue: #87CEEB;
$baby-blue: #bee6ed;

// font-sizes
$huge: 30px;
$big: 26px;
$medium: 20px;
$small: 16px;
$tiny: 12px;

.app-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, $baby-blue, $creamsicle);
  font-family: Ubuntu;
}

.app-header {
  display: flex;
  justify-content: center;
  font-size: $huge;
}

.board-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  height: 80%;
}

.board-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 30%;
  height: 600px;
  /* opacity: 10%; */
  overflow-y: scroll;
  /* background-color: white; */
  background: rgba(255,255,255, 0.2);
}

.active {
  background-color: $baby-blue;
  opacity: 0.5;
}

.board-column-header {
  font-size: $big;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
}

.issue-card-container {
  font-size: $medium;
  font-family: Ubuntu;
  margin: 10px;
  align-self: center;
  box-shadow: 1px 1px 4px black;
}

.issue-card {
  width: 100% !important;
  overflow: hidden;
}

.issue-card-top-section {
  margin: 10px;
}

.issue-card-content {
  margin-bottom: 10px;
}